body {
  font-size: 1rem;
  margin: 0;
  color: #ececec;
  background-color: #2f3037;
}

main {
  padding: 0.5rem;
  background-color: #ececec;
  color: #2f3037;
}

hr {
  border: none;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(47, 48, 55, 255),
    rgba(0, 0, 0, 0)
  );
}

img {
  border-radius: 50%;
  border: 0.25rem solid #ececec;
  height: 150px;
  width: 150px;
  margin-top: 21.4px;
}

header {
  width: auto;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.profile-paragraph {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

nav {
  height: 40px;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  align-items: center;
  padding: 0px 5px;
}

#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #2f3037;
  margin-top: 20px;
}

.nav-link:link {
  text-decoration: none;
  color: #ececec;
}

.nav-link:visited {
  text-decoration: none;
  color: #ececec;
}

.nav-link:hover {
  text-decoration: none;
  background-size: cover;
  background-color: #50525e;
  font-size: 1rem;
}

.nav-link:active {
  text-decoration: none;
  background-color: #50525e;
  font-size: 1rem;
}

#webdev {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
}

.webdev-icon {
  margin: 0px 15px;
  width: 40px;
  height: 40px;
}

footer {
  /* border: 2px solid red; */
  height: 50px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.footer-link {
  color: #ececec;
  margin-top: 15px;
  padding: 0 8px;
}

#contact {
  display: flex;
  justify-content: center;
}

#copyright {
  display: flex;
  justify-content: flex-end;
  font-size: x-small;
}
